<h1>
    <mat-card style="background-color: rgb(0, 143, 230); color: white;" align="center">Returns</mat-card>
</h1>
<returns-form></returns-form>

<!-- <mat-tab-group> -->
<!-- <mat-tab-group mat-align-tabs="center" dynamicHeight> -->

<!--   <mat-tab label="Process Returns"> -->
<!-- 	<returns-form></returns-form> -->
<!--   </mat-tab> -->
  
<!--   <mat-tab label="Returns History"> -->
<!--   </mat-tab> -->
<!-- </mat-tab-group> -->

<!-- Only available in version v13.2.0 (https://stackoverflow.com/questions/71101178/angular-cli-throws-error-mat-tab-nav-panel-is-not-a-known-element) -->

<!-- <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel"> -->
<!--   <a mat-tab-link *ngFor="let link of links" -->
<!--      (click)="activeLink = link" -->
<!--      [active]="activeLink == link"> {{link}} </a> -->
<!--   <a mat-tab-link disabled>Disabled Link</a> -->
<!-- </nav> -->
<!-- <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel> -->

<!-- <button mat-raised-button class="example-action-button" (click)="toggleBackground()"> -->
<!--   Toggle background -->
<!-- </button> -->
<!-- <button mat-raised-button class="example-action-button" (click)="addLink()"> -->
<!--   Add link -->
<!-- </button> -->