.thumbnail img{
	width: 100%;
}
.thumbnail{
	padding:0;
}
.thumbnail .caption-full {
	padding: 10px;
}
#form-delete {
	display: inline;
}
#imgRow .thumbnail img {
	display: flex;
	flex-wrap: wrap;
	height: 240px;
}
#btn{
	margin: 5px;
	margin-bottom:  60px;
}