/* .thumbnail img {
	width: 100%;
	height:200px;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 10px;
}

#form-delete {
	display: inline;
}

#imgRow .thumbnail img {
	display: flex;
	flex-wrap: wrap;
}

.custom-button {
	margin-left: 10px;
}

ul li {
	list-style: none;
} */