<div class="container">

	<div class="row">

		<div class="col">

			<form [formGroup]="returnedItemsForm">

				<div class="row">
					<div class="col">
						<table>
							<tr>
								<td><label class="order-form-label">Order ID</label></td>
							</tr>
							<tr>
								<td>
									<mat-form-field> <input matInput type="text" formControlName="orderId"
											(keyup)="onOrderIdEntry($event)"> </mat-form-field>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<!--- Note that these columns can be defined in any order. 
    The actual rendered columns are set as a property on the row definition" -->

				<mat-table [dataSource]="tableDataSource">

					<ng-container matColumnDef="id">

						<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
						<mat-cell *matCellDef="let element; let i = index" [formGroup]="element">

							<mat-form-field>

								<mat-select formControlName="id"
									(selectionChange)="onSelectionChange($event, element, i)" required #singleSelect>

									<mat-option>
										<ngx-mat-select-search [formControl]="prdctFilterCtrl"
											placeholderLabel="Find Product..."
											noEntriesFoundLabel="no matching product found">
										</ngx-mat-select-search>
									</mat-option>

									<mat-option *ngFor="let prdct of filteredProducts | async" [value]="prdct.id">
										{{prdct.name}}
									</mat-option>
								</mat-select>

							</mat-form-field>

						</mat-cell>

					</ng-container>

					<ng-container matColumnDef="name">

						<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
						<mat-cell *matCellDef="let element;" [formGroup]="element">

							<mat-form-field>
								<input matInput type="text" formControlName="name">
							</mat-form-field>

						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="quantity">

						<mat-header-cell *matHeaderCellDef> Quantity</mat-header-cell>
						<mat-cell *matCellDef="let element;" [formGroup]="element">

							<mat-form-field>
								<input matInput type="number" formControlName="quantity"
									(keyup)="onQuantityChange($event, element, i)">
							</mat-form-field>

						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="price">

						<mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
						<mat-cell *matCellDef="let element;" [formGroup]="element">

							<mat-form-field>
								<input matInput [readonly]="!editable" type="text" formControlName="price">
							</mat-form-field>

						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="total">

						<mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
						<mat-cell *matCellDef="let element;" [formGroup]="element">

							<mat-form-field>
								<input matInput [readonly]="!editable" type="text" formControlName="total">
							</mat-form-field>

						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="delete">
						<mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
						<mat-cell *matCellDef="let element;" [formGroup]="element">

							<mat-icon style="color: red;" class="delete" (click)="deleteRow(element)">
								delete_forever
							</mat-icon>
							<!-- <mat-icon class="done" (click)="doneRow(element)">done</mat-icon> -->

						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns">
					</mat-header-row>

					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

				</mat-table>

				<div class="action-container">
					<button mat-raised-button type="submit" (click)="addRow()">Add Row</button>
					<!-- <button mat-raised-button [disabled]="returnedItems.invalid" type="submit" (click)="submitForm()">Submit</button> -->
				</div>

			</form>

			<!-- 			<div class="output"> -->
			<!-- 				<p>Form Data: {{returnedItemsForm.value | json}}</p> -->
			<!-- 				<p>Is Valid: {{returnedItemsForm.valid}}</p> -->
			<!-- 			</div> -->

			<hr />
			<button mat-raised-button type="submit" (click)="submitForm()">Submit</button>

		</div>
	</div>
</div>
