<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">

	<div class="row w-100">

		<div class="col-md-6 offset-md-3"> <!-- Center the column in the row -->

			<h1>Add Donor</h1>

			<div class="register-form border p-4 rounded shadow bg-white">

				<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

					<mat-form-field class="form-field" appearance="outline">
						<mat-label> First Name
						</mat-label>
						<input matInput formControlName="firstName" required>
						<mat-error *ngIf="userForm.controls.firstName.touched && userForm.controls.firstName.invalid">
							<span *ngIf="userForm.controls.firstName.errors.required">This field is mandatory.</span>
							<span *ngIf="userForm.controls.firstName.errors.pattern">This field is invalid.</span>
						</mat-error>
					</mat-form-field>

					<mat-form-field class="form-field" appearance="outline">
						<mat-label> Last Name
						</mat-label>
						<input matInput formControlName="lastName" required>
						<mat-error *ngIf="userForm.controls.lastName.touched && userForm.controls.lastName.invalid">
							<span *ngIf="userForm.controls.lastName.errors.required">This field is mandatory.</span>
							<span *ngIf="userForm.controls.lastName.errors.pattern">This field is invalid.</span>
						</mat-error>
					</mat-form-field>

					<div class="row">
						<div class="col-md-6">
							<mat-form-field appearance="fill">
								<mat-label>Country Code</mat-label>
								<mat-select formControlName="selectedCountryCode">
									<mat-option *ngFor="let country of countries" [value]="country.dialCode">
										{{ country.name }} ({{ country.dialCode }})
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-6">
							<mat-form-field appearance="fill">
								<mat-label>Phone Number</mat-label>
								<input matInput formControlName="phoneNumber" placeholder="e.g. 5551234567">
								<mat-error *ngIf="userForm.controls.phoneNumber.touched && userForm.controls.phoneNumber.invalid">
									<span *ngIf="userForm.controls.phoneNumber.errors.required">This field is mandatory.</span>
									<span *ngIf="userForm.controls.phoneNumber.errors.pattern">This field is invalid.</span>
								</mat-error>
							</mat-form-field>
						</div>
					</div>

					<mat-form-field class="form-field" appearance="outline">
						<mat-label> E-mail
						</mat-label>
						<input matInput formControlName="email" required>
						<mat-error *ngIf="userForm.controls.email.touched && userForm.controls.email.invalid">
							<span *ngIf="userForm.controls.email.errors.required">This field is mandatory.</span>
							<span *ngIf="userForm.controls.email.errors.pattern">This field is invalid.</span>
						</mat-error>
					</mat-form-field>

					<!-- <button mat-raised-button color="primary" type="submit">Log In</button> -->

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Register</button>
						<button type="button" (click)="onReset()" class="btn btn-warning float-right">Reset</button>
					</div>
					
				</form>

			</div>

		</div>
	</div>

</div>